@use "../base";
@use "../mixin";
@use "../setting";
@use "../module";
@use "../function";

.fv {
  width: 100svw;
  height: 100svh;
  position: relative;
}

.fv__slide-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.fv-slide__picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fv-slider 12s linear infinite;

  &:nth-child(1) {
    background-image: url(../images/fv01.jpg);
    animation-delay: -2s;

    @include mixin.mq(twice) {
      background-image: url(../images/fv01@2x.jpg);
    }

    @include mixin.mq(sp) {
      background-position: 70% center;
    }
  }
  &:nth-child(2) {
    background-image: url(../images/fv02.jpg);
    animation-delay: 4s;

    @include mixin.mq(twice) {
      background-image: url(../images/fv02@2x.jpg);
    }
  }
}

// 2枚のスライドが交互にふわっと入れ替わる
// 全体で12秒の場合、それぞれ6秒ずつ。それぞれのフェードアウトとフェードインを1秒重ねる。
@keyframes fv-slider {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.fv__heading {
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: function.rclamp(48, 96, 375, 1440);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(#000, 0.25);
  line-height: 1.2;
  position: absolute;
  left: calc(66 / 1440 * 100%);
  top: calc(286 / 823 * 100%);

  @include mixin.mq(pc) {
    left: calc(((100svw - 1440px) / 2) + 66 / 1440 * 100%);
  }

  @include mixin.mq(tab) {
    top: calc(286 / 823 * 100% + 10%);
  }

  @include mixin.mq(sp) {
    left: 1.2rem;
    top: calc(414 / 667 * 100%);
  }

  @include mixin.mq(sp-ms) {
    font-size: 4.4rem;
  }
}

.fv__text {
  position: absolute;
  left: 0;
  bottom: calc(163 / 823 * 100%);
  background-color: setting.$txt-color;
  font-size: function.rclamp(12, 24, 375, 1440);
  font-weight: bold;
  text-wrap: nowrap;
  color: #fff;
  text-align: center;
  padding-block: 1.7rem;
  width: min(51.5rem, 80%);
  clip-path: polygon(0 0, 100% 0, calc(485 / 515 * 100%) 100%, 0 100%);

  @include mixin.mq(pc) {
    left: calc(((100svw - 1440px) / 2) + 66 / 1440 * 100% - 6.6rem);
  }

  @include mixin.mq(sp) {
    bottom: calc(89 / 667 * 100%);
    font-size: 1.2rem;
    width: 22.8rem;
    padding-block: 0.9rem;
  }
}

.fv__news {
  position: absolute;
  left: calc(66 / 1440 * 100% + 0.5rem);
  bottom: calc(38 / 823 * 100%);
  width: min(126.3rem, 90%);
  height: 6.2rem;
  display: flex;

  @include mixin.mq(pc) {
    left: calc(((100svw - 1440px) / 2) + 66 / 1440 * 100% + 0.5rem);
  }

  @include mixin.mq(sp) {
    bottom: 1rem;
  }
}

.news__heading {
  color: #fff;
  background-color: setting.$txt-color;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: function.rclamp(12, 24, 375, 1440);
  width: 14.8%;
  height: 100%;
  border: 0.1rem solid setting.$txt-color;
  border-radius: 5rem 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__text {
  background-color: #fff;
  width: 85.2%;
  height: 100%;
  border: 0.1rem solid setting.$txt-color;
  border-radius: 0 5rem 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: calc(90 / (1263 - 187) * 100%);

  @include mixin.mq(sp) {
    padding: 1rem;
  }
}

.news__title {
  color: setting.$txt-color;
  font-size: function.rclamp(12, 16, 375, 1440);
  line-height: 1.2;
}

.news__cta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(47 / (1263 - 187) * 100%);
  // font-size: 1.4rem;
  font-size: function.rclamp(12, 14, 375, 1440);
  font-weight: bold;
  font-family: Viga, "Noto Sans JP", sans-serif;

  @include mixin.mq(sp) {
    display: none;
  }
}

.news__arrow {
  vertical-align: middle;
  margin-left: 0.6rem;
}
