@use "../../foundation" as *;

.p-arrow-button{
  background-color: transparent;
  border: 0.1rem solid  $txt-color;
  width: 5.8rem;
  height: 5.8rem;
  opacity: 1;
  border-radius: 50%;
}

.p-arrow-button svg{
  display: none;
}

.p-arrow-button--prev{
  background-image: url(../images/common/arrow-prev.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.p-arrow-button--next{
  background-image: url(../images/common/arrow-next.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.p-arrow-button--black{
  position: relative;
  background-color: $txt-color;
  border: none;
}

.p-arrow-button--black::before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  content: "";
  width: 100%;
  height: 100%;
  background-color:#fff;
  mask-image: url(../images/common/arrow-next.svg);
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: unset;
}