@use '../../foundation' as *;

.p-breadcrumb{
  background-color: #F0F0F0;
  font-size: 1.4rem;
}

.p-breadcrumb__inner{
  width: min(102.4rem,100%);
  margin-inline: auto;
  padding: 2rem 2.4rem;

  @include mq(sp) {
    padding-left: 1.6rem;
  }
}