@use "../../foundation" as *;

.p-burger-button{
  width: 5.2rem;

  @include mq(tab) {
    width: 4rem;
  }

  @include mq(sp) {
    width: 3.2rem;
  }
}

.p-burger-button__icon {
  height: 3rem;

  @include mq(tab){
    height: 2.4rem;
  }

  @include mq(sp) {
    height: 1.8rem;
  }
}

.p-burger-button__line {
  height: 0.2rem;
}

.p-burger-button__line--black {
  background: $txt-color;
}

.p-burger-button__line--white {
  background: #fff;
}

.p-burger-button__line:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}

.p-burger-button__line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.p-burger-button__line:nth-of-type(3) {
  top: 100%;
  transform: translateY(-50%);
}

.p-burger-button__label {
  display: inline-block;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: all 0.4s;

  @include mq(tab) {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }

  @include mq(sp) {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.p-burger-button__label--black {
  color: $txt-color;
}

.p-burger-button__label--white {
  color: #fff;
}