@use "../../foundation" as *;

.p-button{
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0;
}

.p-button--black {
  background-color: $txt-color;
  font-weight: 700;
}

.p-button--gold {
  background-color: $accent-color-2;
  font-family: Viga, "Noto Sans JP", sans-serif;
}

.p-button__view-more{
  color: $txt-color;
  font-family: $viga;
  font-size: rclamp(16, 20, 375, 1440);
  font-weight: $regular;
  line-height: 1;
  width: rclamp(277, 355, 375, 1440);
  padding-block: rclamp(23, 30 , 375, 1440);
  border: solid 0.1rem $txt-color;
  display: flex;
  justify-content:center;
  margin-inline: auto;
  position: relative;

  @include mq(xxs) {
    width: 80%;
  }
}

.p-button__arrow--view-more{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: rclamp(17, 20, 375, 1440);
  width: rclamp(16, 20, 375, 1440);
}

.p-button__arrow--recruitment{
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}