@use '../../foundation' as *;
@use 'sass:math';

.p-career__career-path{
  margin-top: 4.8rem;
}

.p-career__img{
  aspect-ratio: 980 / 734;
}

.p-career__career-path-text{
  margin-top: 3.7rem;

  @include mq(sp) {
    line-height: 1.5;
  }
}

.p-career__training {
  margin-top: 8.9em;

  @include mq(tab) {
    margin-top: 8px;
  }

  @include mq(sp) {
    margin-top: 7rem;
  }

}

.p-career__career-training-heading {
  font-size: 2.4rem;
  font-weight: $bold;
  background-color: $accent-color-2;
  line-height: 1;
  padding: 0.5em calc(math.div(2.1, 2.4) * 1em);
  border-radius: 1rem;
}

.p-career__career-training-heading:not(:first-child){
}

.p-career__career-training-text {
  margin-top: 5rem;
  padding-bottom: 3.7rem;
  line-height: 1.8;
}

