@use "../../foundation" as *;

.p-footer__wrapper{
  width: 100%;
  padding-bottom: 6.4rem;

  @include mq(tab) {
    padding-bottom: 0;
  }
}

.p-footer__inner {
  margin-inline: auto;
  position: relative;
  z-index: 0;
  width: min($layout-width-inner, 100%);
}

.p-footer__image {
  width: 100%;
  height: 48.832rem;
  background-image: url(../images/parts/footer/cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include mq(twice) {
    background-image: url(../images/parts/footer/cta@2x.jpg);
  }

  @include mq(sp) {
    height: 25rem;
  }
}

.p-footer__cta {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  width: 95.6rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include mq(tab) {
    padding-top: 3.6rem;
    padding-bottom: 3.8rem;
    width: min(95.6rem, calc(100% - 2rem * 2));
  }

  @include mq(sp) {
    padding-top: 2.4rem;
    padding-bottom: 2.9rem;
    width: calc(100% - 1.6rem * 2);
  }
}

.p-footer__menu-wrapper {
  background-color: $bg-sub-color;
  width: min(131.2rem, 100%);
  border: none;
  border-radius: 0 0 2rem 2rem;
  margin-inline: auto;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 0;
  padding-top: 20.05rem;
  padding-bottom: 6.1rem;

  @include mq(tab) {
    padding-inline: 2rem;
    border-radius: 0;
  }

  @include mq(sp) {
    padding-inline: 1.6rem;
  }
}

.p-footer__menus{
  position: relative;
  margin-inline: auto;
  width: min(95.6rem, 100%);
  height: 18.05rem;

  @include mq(tab) {
    height: 38rem;
  }

  @include mq(sp) {
    height: 51.6rem;
  }
}

.p-footer__logo{
  width: 24.93rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;

  @include mq(tab) {
    left: 50%;
    transform: translateX(-50%);
    top: unset;
    bottom: 6.6rem;
  }

  @include mq(sp) {
    width: 25.1rem;
    height: 6.6rem;
    bottom: 5.6rem;
  }
}

.p-footer__img{
  width: 100%;
  height: 100%;
}

.p-footer__list{
  position: absolute;
  right: 3.2rem;
  top: 2.25rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.2rem;
  row-gap: 4.1rem;
  line-height: 1;

  @include mq(tab) {
    font-size: 1.5rem;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    justify-content: center;
  }

  @include mq(sp) {
    font-size: 1.4rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    column-gap: unset;
  }
}

.p-footer__copy-right {
  font-size: 1.2rem;
  color: #999999;
  position: absolute;
  left: 0;
  bottom: 0.6rem;
  text-wrap: nowrap;

  @include mq(tab) {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

  @include mq(sp) {

  }
}

.p-footer__sns-list{
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  column-gap: 1.6rem;

  @include mq(tab) {
    right: 50%;
    transform: translateX(50%);
    bottom: 17.1rem;
  }

  @include mq(sp) {
    bottom: 15.1rem;
  }
}