@use '../../foundation' as *;

.p-fv__heading {
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: rclamp(48, 96, 375, 1440);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(#000, 0.25);
  line-height: 1.2;
  position: absolute;
  left: calc(66 / 1440 * 100%);
  top: calc(286 / 823 * 100%);

  @include mq(pc) {
    left: calc(((100svw - 1440px) / 2) + 66 / 1440 * 100%);
  }

  @include mq(tab) {
    top: calc(286 / 823 * 100% + 10%);
  }

  @include mq(sp) {
    left: 1.2rem;
    top: calc(414 / 667 * 100%);
  }

  @include mq(xxs) {
    font-size: 4.4rem;
  }
}

.p-fv__text {
  position: absolute;
  left: 0;
  bottom: calc(163 / 823 * 100%);
  background-color: $txt-color;
  font-size: rclamp(12, 24, 375, 1440);
  font-weight: bold;
  text-wrap: nowrap;
  color: #fff;
  text-align: center;
  padding-block: 1.7rem;
  width: min(51.5rem, 80%);
  clip-path: polygon(0 0, 100% 0, calc(485 / 515 * 100%) 100%, 0 100%);

  @include mq(pc) {
    left: calc(((100svw - 1440px) / 2) + 66 / 1440 * 100% - 6.6rem);
  }

  @include mq(sp) {
    bottom: calc(89 / 667 * 100%);
    font-size: 1.2rem;
    width: 22.8rem;
    padding-block: 0.9rem;
  }
}

.p-fv__news {
  position: absolute;
  left: calc(66 / 1440 * 100% + 0.5rem);
  bottom: calc(38 / 823 * 100%);
  width: min(126.3rem, 90%);
  display: flex;

  @include mq(pc) {
    left: calc(((100svw - 1440px) / 2) + 66 / 1440 * 100% + 0.5rem);
  }

  @include mq(sp) {
    bottom: 1rem;
  }
}