@use '../../foundation' as *;

.p-news__heading {
  color: #fff;
  background-color: $txt-color;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: rclamp(12, 24, 375, 1440);
  width: 14.8%;
  height: 100%;
  border: 0.1rem solid $txt-color;
  border-radius: 5rem 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-news__text {
  background-color: #fff;
  width: 85.2%;
  height: 100%;
  border: 0.1rem solid $txt-color;
  border-radius: 0 5rem 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: calc(90 / (1263 - 187) * 100%);

  @include mq(sp) {
    padding: 1rem;
  }
}

.p-news__title {
  color: $txt-color;
  font-size: rclamp(12, 16, 375, 1440);
  line-height: 1.2;
}

.p-news__cta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(47 / (1263 - 187) * 100%);
  // font-size: 1.4rem;
  font-size: rclamp(12, 14, 375, 1440);
  font-weight: bold;
  font-family: Viga, "Noto Sans JP", sans-serif;

  @include mq(sp) {
    display: none;
  }
}

.p-news__arrow {
  vertical-align: middle;
  margin-left: 0.6rem;
}
