@use '../../foundation' as *;

.p-page-contents {

}

.p-page-contents__wrapper--mt97 {
  margin-top: 9.7rem;

  @include mq(tab) {
    margin-top: 8rem;
  }

  @include mq(sp) {
    margin-top: 7rem;
  }
}

.p-page-contents__wrapper--mt128 {
  margin-top: 12.8rem;

  @include mq(tab) {
    margin-top: 10rem;
  }

  @include mq(sp) {
    margin-top: 8.6rem;
  }
}

.p-page-contents__wrapper--mt96 {
  margin-top: 9.6rem;

  @include mq(tab) {
    margin-top: 7.9rem;
  }

  @include mq(sp) {
    margin-top: 6.9rem;
  }
}

.p-page-contents__wrapper--mt88 {
  margin-top: 8.8rem;
}

.p-page-contents__category {
  font-size: rclamp(28, 32, 375, 1440);
  font-weight: $bold;
  line-height: 1;
}

.p-page-contents__table {
  margin-inline: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-spacing: 0;
  margin-top: calc(11.3rem - 3.6rem);

  @include mq(tab) {
    margin-top: 6.6rem;
  }

  @include mq(sp) {
    margin-top: 4rem;
  }
}

.p-page-contents__table-body {

}

.p-page-contents__table-row {
  display: flex;
  flex-wrap: wrap;
  padding-block: calc(3.6rem - 0.05rem);
  min-height: 8.8rem;
  border-bottom: 0.1rem dotted $txt-color;
  row-gap: 1.6rem;
  line-height: 1;
}

.p-page-contents__table-heading {
  font-size: 1.6rem;
  font-weight: $bold;
  width: 100%;
  max-width: 23.1rem;

  @include mq(lg) {
    max-width: 100%;
  }
}

.p-page-contents__table-data {
  max-width: calc(98rem - 23.1rem);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: unset; // なぜか 「.p-article__contents th, td」としてスタイルが効いているので打消し
  min-width: unset; // なぜか 「.p-article__contents th, td」としてスタイルが効いているので打消し

  @include mq(lg) {
    max-width: 100%;
  }
}

.p-page-contents__table-li{
  list-style-type: "\30FB"; // 「・」を文字化け防止の為Unicode文字で設定
  margin-left: 1.6rem; // 改行時に「・」の分インデントが揃うようにlist-style-positionをデフォルト設定(outside)にしているので、その分の調整
}

.p-page-contents__voice-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 4.6rem;
  row-gap: 7.2rem;
  margin-top: 2.3rem;
}

.p-page-contents__voice-container {
  max-width: 46.7rem;

  @include mq(lg) {
    max-width: 100%;
  }
}

.p-page-contents__voice-year {
  color: $accent-color-1;
  font-weight: $bold;
  line-height: 1;
}

.p-page-contents__voice-name {
  font-size: 2.4rem;
  font-weight: $bold;
  line-height: 1;
  margin-top: 1.3rem;
}

.p-page-contents__voice-text {
  margin-top: 2.5rem;
  line-height: 1.8;
}

.p-page-contents__voice-image {
  margin-top: 3.6rem;
  aspect-ratio: 980 / 560;
  background-image: url(../images/parts/benefits/benefits-user-voices.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include mq(twice) {
    background-image: url(../images/parts/benefits/benefits-user-voices@2x.jpg);
  }

  @include mq(wide) {
    background-image: url(../images/parts/benefits/benefits-user-voices@2x.jpg);
  }

  @include mq(sp) {
    aspect-ratio: 980 / 660;
  }
}
