@use "../../foundation" as *;

.p-top-post{
  background-color: $bg-sub-color;
}

.p-top-post__inner {
  width: min(calc(95.6rem + 1.7rem * 2), 100%);
  margin-inline: auto;
  padding-inline: 1.7rem;
  padding-top: 8.7rem;
  position: relative;
}

.p-top-post__items{
  margin-inline: auto;
}

.p-top-post__view-more{
  position: absolute;
  top: calc(8.7rem + 0.3rem);
  right: 2rem;
}