@use "../../foundation" as *;
@use "sass:math";

.p-top-staff{
  width: min($layout-width-inner, 100%);
  margin-inline: auto;
}

.p-top-staff__inner{
  position: relative;
  padding-top: 16.3rem;

  @include mq(tab) {
    padding-top: 13.2rem;
  }


  @include mq(sp) {
    padding-top: 9.5rem;
  }
}

.p-top-staff .splide{
  margin-left: $top-ml-pc;
  margin-top: 5.2rem;
  position: static;

  @include mq(tab) {
    margin-left: $top-ml-tab;
    margin-top: 5.1rem;
  }

  @include mq(sp) {
    margin-left: calc($top-ml-sp + 0.9rem);
    margin-top: 5rem;
  }
}

.p-top-staff .splide__list{
  height: calc($staff-card-height-pc + $translateY-of-the-staff-splide__slide--pc);

  @include mq(tab){
    height: calc($staff-card-height-tab + $translateY-of-the-staff-splide__slide--tab);
  }

  @include mq(sp) {
    height: calc($staff-card-height-sp + $translateY-of-the-staff-splide__slide--sp);
  }
}

.p-top-staff .p-arrow-button{
  position: absolute;
  top: unset;
  bottom: 1.15rem;
  transform: translateY(0);
  scale: 1;

  @include mq(lg) {
    display: none;
  }
}

.p-top-staff .p-arrow-button:hover{
  scale: 1.2;
  transition: scale 0.3s;
}

.p-top-staff .p-arrow-button--prev{
  left: unset;
  right: calc(math.div(229, 1440) * 100% + 1.8rem);
  transform: translateX(-100%);

  @include mq(tab) {
    right: calc(math.div(229, 1440) * 100% + 1.8rem - 7%);
  }
}

.p-top-staff .p-arrow-button--prev:hover{
  transform: translateX(calc(math.div(-100, 1.2) * 1%)); // 元にtranslateX(-100%)を設定しているので、scaleすると、scale後の大きさに合わせてtranslateされてしまう。そのため、hover時のtranslateを「-100%/1.2」にすることで位置ズレを防いでいる。
  transition: 0.3s;
}

.p-top-staff .p-arrow-button--next{
  right: calc(math.div(229, 1440) * 100%);

  @include mq(tab) {
    right: calc(math.div(229, 1440) * 100% - 7%);
  }
}

.p-top-staff__button{
  margin-top: 8rem;

  @include mq(tab) {
    margin-top: 7.2rem;
  }

  @include mq(sp) {
    margin-top: 6.4rem;
  }
}

.p-top-staff .p-top-section__subtitle{
  @include mq(sp) {
    margin-right: 1.7rem;
  }
}