@use "../../foundation" as *;

.p-top-post{
  background-color: $bg-sub-color;
}

.p-top-post__inner {
  width: min(calc(95.6rem + 1.7rem * 2), 100%);
  margin-inline: auto;
  padding-inline: 1.7rem;
  padding-block: 8.7rem 8rem;
  position: relative;

  @include mq(tab) {
    padding-block: 8.3rem 7rem;
  }

  @include mq(sp) {
    padding-block: 7.8rem 11rem;
  }
}

.p-top-post__items{
  margin-inline: auto;
}

.p-top-post__view-more{
  position: absolute;
  top: calc(8.7rem + 0.3rem);
  right: 2rem;

  @include mq(sp) {
    top: unset;
    right: unset;
    left: 1.7rem;
    bottom: 0;
  }
}