@use 'foundation' as *;

.p-gnav__item:first-of-type {
  margin-right: 2.2rem;
}

.p-gnav__item:nth-of-type(2) {
  margin-right: 4rem;
}

.p-gnav__button {
  height: 4.2rem;
  width: 12.6rem;

  @include mq(sp) {
    display: none;
  }
}