// レイアウト幅
$layout-width-inner: 1440px;

// ブレークポイント
// 該ブレークポイントから次のブレークポイントまでの範囲が、それぞれの領域にあたる。
// 例) 実機iphoneSEは375pxのため、413px以下〜375p以上になるよう、値を指定。
// $wide-breakpointのみ最小値の指定。
$sp-the-most-small: 374px;
$iphone-se: 413px;
$sp-breakpoint: 767px;
$ipad-mini: 819px;
$ipad: 1023px;
$tab: #{$layout-width-inner - 1px};
$wide-breakpoint: 1440px;

$breakpoints: (
  // ディスプレイ幅
  "sp-ms": "screen and (max-width: #{$sp-the-most-small})",
  "ip-se": "screen and (max-width: #{$iphone-se})",
  "sp": "screen and (max-width: #{$sp-breakpoint})",
  "ipad-mini": "screen and (max-width: #{$ipad-mini})",
  "ipad": "screen and (max-width: #{$ipad})",
  "tab": "screen and (max-width: #{$tab})",
  "pc": "screen and (min-width: #{$layout-width-inner})",

  // 解像度
  "twice": "screen and (-webkit-min-device-pixel-ratio: 1.5)",
  "three-times": "screen and (-webkit-min-device-pixel-ratio: 2.5)",

  // 解像度andディスプレイ幅
  "wide":
    "screen and (min-width: #{$wide-breakpoint + 1px}) and (-webkit-max-device-pixel-ratio: 1.1)"
);

// ブレイクポイントを定義した変数をmq()という@mixinで呼び出せるように
@mixin mq($bp) {
  @media #{map-get($breakpoints, $bp)} {
    @content;
  }
}
