*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5,
h6,
p {
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

ul {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
  font-size: 1.6rem;
}

th,
td {
  padding: 0;
  font-size: 1.6rem;
}

textarea {
  display: block;
  font-size: 1.6rem;
}

tbody {
  width: 100%;
}

.button {
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.gnav__button {
  height: 4.2rem;
  width: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--black {
  background-color: #222222;
  font-weight: 700;
}

.button--gold {
  background-color: #afa86f;
  font-family: Viga, "Noto Sans JP", sans-serif;
}

.footer {
  width: 100%;
}

.footer__inner {
  width: 100%;
  padding-inline: 2rem;
  max-width: 1440px;
  padding-block: 49px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .footer__inner {
    padding-inline: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-inline: 1.6rem;
    flex-direction: column;
    row-gap: 3.2rem;
  }
}

.copy-right {
  font-size: 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.top-page-header {
  position: absolute;
  top: 0;
  left: 0;
}

.sub-page-header {
  position: static;
  background-color: #fff;
}

.header__inner {
  margin: 0 auto;
  width: min(100%, 1440px);
  padding: 2.6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .header__inner {
    padding: 1.6rem 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0.8rem 1.2rem;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  visibility: visible;
  width: 100%;
  animation: slideDown 0.3s ease-in-out;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 1439px) {
  .header__logo {
    width: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 15.1rem;
  }
}

.logo__img--black {
  display: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

.gnav__list {
  display: flex;
  align-items: center;
}

.gnav__item {
  text-align: center;
}

.gnav__item:first-of-type {
  margin-right: 2.2rem;
}

.gnav__item:nth-of-type(2) {
  margin-right: 4rem;
}

@media screen and (max-width: 767px) {
  .gnav__button {
    display: none;
  }
}

.burger-button {
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  z-index: 1000;
}
@media screen and (max-width: 1439px) {
  .burger-button {
    width: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .burger-button {
    width: 3.2rem;
  }
}

.burger-button__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
}

.burger-button__line {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  transition: all 0.4s;
}

.burger-button__line--black {
  background: #222222;
}

.burger-button__line--white {
  background: #fff;
}

.burger-button__line:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}

.burger-button__line:nth-of-type(2) {
  top: 1.5rem;
  transform: translateY(-50%);
}

.burger-button__line:nth-of-type(3) {
  top: 3rem;
  transform: translateY(-50%);
}

.burger-button__label {
  display: inline-block;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: all 0.4s;
}
@media screen and (max-width: 1439px) {
  .burger-button__label {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  .burger-button__label {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.burger-button__label--black {
  color: #222222;
}

.burger-button__label--white {
  color: #fff;
}

.burger-button.open .burger-button__line:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.burger-button.open .burger-button__line:nth-of-type(2) {
  opacity: 0;
}

.burger-button.open .burger-button__line:nth-of-type(3) {
  top: 50%;
  transform: rotate(45deg);
}

.burger-button.open .burger-button__label {
  visibility: hidden;
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
  text-align: center;
}

.burger-menu.open {
  pointer-events: auto;
  opacity: 1;
}

.burger-menu__list {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.burger-menu__item {
  font-size: 1.3rem;
}

.burger-menu__anchor {
  display: inline-block;
}

.burger-menu .button {
  width: 20rem;
  line-height: 6.9rem;
  border-radius: 6rem;
}

.fv {
  width: 100svw;
  height: 100svh;
  position: relative;
}

.fv__slide-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.fv-slide__picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fv-slider 12s linear infinite;
}
.fv-slide__picture:nth-child(1) {
  background-image: url(../images/fv01.jpg);
  animation-delay: -2s;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .fv-slide__picture:nth-child(1) {
    background-image: url(../images/fv01@2x.jpg);
  }
}
.fv-slide__picture:nth-child(2) {
  background-image: url(../images/fv02.jpg);
  animation-delay: 4s;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .fv-slide__picture:nth-child(2) {
    background-image: url(../images/fv02@2x.jpg);
  }
}

@keyframes fv-slider {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fv__heading {
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: clamp(3.2rem, 0.9464788732rem + 6.0093896714vw, 9.6rem);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.2;
  position: absolute;
  left: 4.5833333333%;
  top: 34.7509113001%;
}
@media screen and (min-width: 1440px) {
  .fv__heading {
    left: calc((100svw - 1440px) / 2 + 4.5833333333%);
  }
}

.fv__text {
  position: absolute;
  left: 0;
  bottom: 19.8055893074%;
  background-color: #222222;
  font-size: 2.4rem;
  font-weight: bold;
  text-wrap: nowrap;
  color: #fff;
  text-align: center;
  padding-block: 1.7rem;
  width: min(51.5rem, 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 94.1747572816% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 94.1747572816% 100%, 0 100%);
}
@media screen and (max-width: 767px) {
  .fv__text {
    bottom: 13.3433283358%;
    font-size: 1.2rem;
    width: 22.8rem;
    padding-block: 0.9rem;
  }
}
/*# sourceMappingURL=front-page.css.map */