*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5,
h6,
p {
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

ul {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
  font-size: 1.6rem;
}

th,
td {
  padding: 0;
  font-size: 1.6rem;
}

textarea {
  display: block;
  font-size: 1.6rem;
}

tbody {
  width: 100%;
}

.button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.gnav__button {
  height: 4.2rem;
  width: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--black {
  background-color: #222222;
}

.button--gold {
  background-color: #afa86f;
}

.footer {
  width: 100%;
}

.footer__inner {
  width: 100%;
  padding-inline: 2rem;
  max-width: 1440px;
  padding-block: 49px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .footer__inner {
    padding-inline: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-inline: 1.6rem;
    flex-direction: column;
    row-gap: 3.2rem;
  }
}

.copy-right {
  font-size: 1rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #faf7f1;
}

.sub-page-header {
  position: static;
  background-color: #fff;
}

.header__inner {
  margin: 0 auto;
  width: min(100%, 1440px);
  padding: 2.6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .header__inner {
    padding: 1.6rem 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0.8rem 1.2rem;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  visibility: visible;
  width: 100%;
  animation: slideDown 0.3s ease-in-out;
  background-color: #fff;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 1439px) {
  .header__logo {
    width: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 15.1rem;
  }
}

@media screen and (max-width: 1439px) {
  .gnav {
    display: none;
  }
}

.gnav__list {
  display: flex;
  align-items: center;
}

.gnav__item {
  text-align: center;
  margin-right: 2.9rem;
}
.gnav__item:nth-of-type(4) {
  margin-right: 1.2rem;
}
.gnav__item:last-of-type {
  margin-right: 0;
}

.gnav__anchor {
  font-size: 1.3rem;
}

.top-page-header .gnav__anchor:not(.button) {
  color: #fff;
}

.burger-button {
  position: relative;
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  z-index: 1000;
}

.burger-button__line {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  height: 0.2rem;
  transition: all 0.4s;
}

.burger-button__line:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}

.burger-button__line:nth-of-type(2) {
  top: 1.5rem;
  transform: translateY(-50%);
}

.burger-button__line:nth-of-type(3) {
  top: 3rem;
  transform: translateY(-50%);
}

.burger-button__label {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  color: #fff;
}

.burger-button.open {
  position: fixed;
  right: 1.6rem;
}

.burger-button.open .burger-button__line:nth-of-type(1) {
  left: -50%;
  top: 50%;
  transform: translateX(50%) rotate(-45deg);
}

.burger-button.open .burger-button__line:nth-of-type(2) {
  opacity: 0;
}

.burger-button.open .burger-button__line:nth-of-type(3) {
  left: -50%;
  top: 50%;
  transform: translateX(50%) rotate(45deg);
}

.burger-button.open .burger-button__label {
  display: none;
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
  text-align: center;
}

.burger-menu.open {
  pointer-events: auto;
  opacity: 1;
}

.burger-menu__list {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.burger-menu__item {
  font-size: 1.3rem;
}

.burger-menu__anchor {
  display: inline-block;
}

.burger-menu .button {
  width: 20rem;
  line-height: 6.9rem;
  border-radius: 6rem;
}
/*# sourceMappingURL=front-page.css.map */