*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  width: 100%;
  margin: 0;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h5,
h6,
p {
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  display: inline-block;
}

ul {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
  font-size: 1.6rem;
}

th,
td {
  padding: 0;
  font-size: 1.6rem;
}

textarea {
  display: block;
  font-size: 1.6rem;
}

tbody {
  width: 100%;
}

.button {
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.gnav__button {
  height: 4.2rem;
  width: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--black {
  background-color: #222222;
  font-weight: 700;
}

.button--gold {
  background-color: #afa86f;
  font-family: Viga, "Noto Sans JP", sans-serif;
}

.footer__wrapper {
  width: 100%;
  padding-bottom: 6.4rem;
}
@media screen and (max-width: 1439px) {
  .footer__wrapper {
    padding-bottom: 0;
  }
}

.footer__inner {
  margin-inline: auto;
  position: relative;
  z-index: 0;
  width: min(1440px, 100%);
}

.footer__image {
  width: 100%;
  height: 48.832rem;
  background-image: url(../images/cta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .footer__image {
    background-image: url(../images/cta@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .footer__image {
    height: 25rem;
  }
}

.footer__cta {
  background-color: #fff;
  border: none;
  border-radius: 2rem;
  width: 95.6rem;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (max-width: 1439px) {
  .footer__cta {
    padding-top: 3.6rem;
    padding-bottom: 3.8rem;
    width: min(95.6rem, 100% - 4rem);
  }
}
@media screen and (max-width: 767px) {
  .footer__cta {
    padding-top: 2.4rem;
    padding-bottom: 2.9rem;
    width: calc(100% - 3.2rem);
  }
}

.cta__text {
  font-size: clamp(1.4rem, 1.3295774648rem + 0.1877934272vw, 1.6rem);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 1439px) {
  .cta__text {
    line-height: 2;
  }
}
@media screen and (max-width: 767px) {
  .cta__text {
    font-size: 1.2rem;
    line-height: 2.5;
  }
}

.cta__button {
  position: relative;
  width: clamp(20rem, 7.4647887324rem + 33.4272300469vw, 55.6rem);
  height: clamp(5.4rem, 4.8366197183rem + 1.5023474178vw, 7rem);
  margin-top: 3.1rem;
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
@media screen and (max-width: 1439px) {
  .cta__button {
    margin-top: 2.7rem;
  }
}
@media screen and (max-width: 767px) {
  .cta__button {
    margin-top: 2.4rem;
  }
}

.cta__arrow {
  vertical-align: middle;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.footer__menu-wrapper {
  background-color: #faf7f1;
  width: min(131.2rem, 100%);
  border: none;
  border-radius: 0 0 2rem 2rem;
  margin-inline: auto;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  z-index: 0;
  padding-top: 20.05rem;
  padding-bottom: 6.1rem;
}
@media screen and (max-width: 1439px) {
  .footer__menu-wrapper {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__menu-wrapper {
    padding-inline: 1.6rem;
  }
}

.footer__menus {
  position: relative;
  margin-inline: auto;
  width: min(95.6rem, 100%);
  height: 18.05rem;
}
@media screen and (max-width: 1439px) {
  .footer__menus {
    height: 38rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__menus {
    height: 51.6rem;
  }
}

.footer__logo {
  width: 24.93rem;
  height: 6.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (max-width: 1439px) {
  .footer__logo {
    left: 50%;
    transform: translateX(-50%);
    top: unset;
    bottom: 6.6rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 25.1rem;
    height: 6.6rem;
    bottom: 5.6rem;
  }
}

.footer__img {
  width: 100%;
  height: 100%;
}

.footer__list {
  position: absolute;
  right: 3.2rem;
  top: 2.25rem;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2.2rem;
       column-gap: 2.2rem;
  row-gap: 4.1rem;
  line-height: 1;
}
@media screen and (max-width: 1439px) {
  .footer__list {
    font-size: 1.5rem;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer__list {
    font-size: 1.4rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    -moz-column-gap: unset;
         column-gap: unset;
  }
}

.copy-right {
  font-size: 1.2rem;
  color: #999999;
  position: absolute;
  left: 0;
  bottom: 0.6rem;
  text-wrap: nowrap;
}
@media screen and (max-width: 1439px) {
  .copy-right {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}
.footer__sns-list {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
@media screen and (max-width: 1439px) {
  .footer__sns-list {
    right: 50%;
    transform: translateX(50%);
    bottom: 17.1rem;
  }
}
@media screen and (max-width: 767px) {
  .footer__sns-list {
    bottom: 15.1rem;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.top-page-header {
  position: absolute;
  top: 0;
  left: 0;
}

.sub-page-header {
  position: static;
  background-color: #fff;
}

.header__inner {
  margin: 0 auto;
  width: min(100%, 1440px);
  padding: 2.6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1439px) {
  .header__inner {
    padding: 1.6rem 2rem;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding: 0.8rem 1.2rem;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  visibility: visible;
  width: 100%;
  animation: slideDown 0.3s ease-in-out;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 1439px) {
  .header__logo {
    width: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 15.1rem;
  }
}

.logo__img--black {
  display: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

.gnav__list {
  display: flex;
  align-items: center;
}

.gnav__item {
  text-align: center;
}

.gnav__item:first-of-type {
  margin-right: 2.2rem;
}

.gnav__item:nth-of-type(2) {
  margin-right: 4rem;
}

@media screen and (max-width: 767px) {
  .gnav__button {
    display: none;
  }
}

.burger-button {
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  z-index: 1000;
}
@media screen and (max-width: 1439px) {
  .burger-button {
    width: 4rem;
  }
}
@media screen and (max-width: 767px) {
  .burger-button {
    width: 3.2rem;
  }
}

.burger-button__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
}

.burger-button__line {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  transition: all 0.4s;
}

.burger-button__line--black {
  background: #222222;
}

.burger-button__line--white {
  background: #fff;
}

.burger-button__line:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}

.burger-button__line:nth-of-type(2) {
  top: 1.5rem;
  transform: translateY(-50%);
}

.burger-button__line:nth-of-type(3) {
  top: 3rem;
  transform: translateY(-50%);
}

.burger-button__label {
  display: inline-block;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: all 0.4s;
}
@media screen and (max-width: 1439px) {
  .burger-button__label {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 767px) {
  .burger-button__label {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.burger-button__label--black {
  color: #222222;
}

.burger-button__label--white {
  color: #fff;
}

.burger-button.is-burger-open .burger-button__line:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg);
}

.burger-button.is-burger-open .burger-button__line:nth-of-type(2) {
  opacity: 0;
}

.burger-button.is-burger-open .burger-button__line:nth-of-type(3) {
  top: 50%;
  transform: rotate(45deg);
}

.burger-button.is-burger-open .burger-button__label {
  visibility: hidden;
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.burger-menu.is-burger-open {
  pointer-events: auto;
  opacity: 1;
}

.burger-menu__inner {
  position: absolute;
  top: 50%;
  left: calc(28.1944444444% - 1.2rem);
  transform: translateY(-50%);
  width: min(92.7rem, 100%);
  padding-inline: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.burger-menu__logo-list {
  display: flex;
  align-items: center;
  padding-right: 6.3rem;
  border-right: 0.05rem solid #afa86f;
}

.burger-menu__item-list {
  margin-left: 6.3rem;
  width: min(52.6rem, 100%);
}

.burger-menu__anchor {
  display: inline-block;
}

.burger-menu__logo {
  display: block;
}

.burger-menu__text-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  width: 100%;
}

.burger-menu__text-item {
  text-align: left;
  padding-block: 2.3rem;
  border-top: 0.1rem solid #afa86f;
  width: calc((100% - 3rem) / 2);
}

.burger-menu__text-item:nth-of-type(3), .burger-menu__text-item:last-child {
  border-bottom: 0.1rem solid #afa86f;
}

.burger-menu__title {
  font-size: 3.2rem;
  font-family: Viga, "Noto Sans JP", sans-serif;
  line-height: 1;
}

.burger-menu__sub-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1.1rem;
}

.burger-menu__button-item-wrapper {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.burger-menu__button {
  width: 24.8rem;
  height: 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fv {
  width: 100svw;
  height: 100svh;
  position: relative;
}

.fv__slide-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.fv-slide__picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fv-slider 12s linear infinite;
}
.fv-slide__picture:nth-child(1) {
  background-image: url(../images/fv01.jpg);
  animation-delay: -2s;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .fv-slide__picture:nth-child(1) {
    background-image: url(../images/fv01@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .fv-slide__picture:nth-child(1) {
    background-position: 70% center;
    animation-delay: 4s;
  }
}
.fv-slide__picture:nth-child(2) {
  background-image: url(../images/fv02.jpg);
  animation-delay: 4s;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .fv-slide__picture:nth-child(2) {
    background-image: url(../images/fv02@2x.jpg);
  }
}
@media screen and (max-width: 767px) {
  .fv-slide__picture:nth-child(2) {
    animation-delay: -2s;
  }
}

@keyframes fv-slider {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  58% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.fv__heading {
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: clamp(4.8rem, 3.1098591549rem + 4.5070422535vw, 9.6rem);
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1.2;
  position: absolute;
  left: 4.5833333333%;
  top: 34.7509113001%;
}
@media screen and (min-width: 1440px) {
  .fv__heading {
    left: calc((100svw - 1440px) / 2 + 4.5833333333%);
  }
}
@media screen and (max-width: 1439px) {
  .fv__heading {
    top: 44.7509113001%;
  }
}
@media screen and (max-width: 767px) {
  .fv__heading {
    left: 1.2rem;
    top: 62.0689655172%;
  }
}
@media screen and (max-width: 374px) {
  .fv__heading {
    font-size: 4.4rem;
  }
}

.fv__text {
  position: absolute;
  left: 0;
  bottom: 19.8055893074%;
  background-color: #222222;
  font-size: clamp(1.2rem, 0.7774647887rem + 1.1267605634vw, 2.4rem);
  font-weight: bold;
  text-wrap: nowrap;
  color: #fff;
  text-align: center;
  padding-block: 1.7rem;
  width: min(51.5rem, 80%);
  -webkit-clip-path: polygon(0 0, 100% 0, 94.1747572816% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 94.1747572816% 100%, 0 100%);
}
@media screen and (min-width: 1440px) {
  .fv__text {
    left: calc((100svw - 1440px) / 2 + 4.5833333333% - 6.6rem);
  }
}
@media screen and (max-width: 767px) {
  .fv__text {
    bottom: 13.3433283358%;
    font-size: 1.2rem;
    width: 22.8rem;
    padding-block: 0.9rem;
  }
}

.fv__news {
  position: absolute;
  left: calc(4.5833333333% + 0.5rem);
  bottom: 4.617253949%;
  width: min(126.3rem, 90%);
  height: 6.2rem;
  display: flex;
}
@media screen and (min-width: 1440px) {
  .fv__news {
    left: calc((100svw - 1440px) / 2 + 4.5833333333% + 0.5rem);
  }
}
@media screen and (max-width: 767px) {
  .fv__news {
    bottom: 1rem;
  }
}

.news__heading {
  color: #fff;
  background-color: #222222;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: clamp(1.2rem, 0.7774647887rem + 1.1267605634vw, 2.4rem);
  width: 14.8%;
  height: 100%;
  border: 0.1rem solid #222222;
  border-radius: 5rem 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news__text {
  background-color: #fff;
  width: 85.2%;
  height: 100%;
  border: 0.1rem solid #222222;
  border-radius: 0 5rem 5rem 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 8.3643122677%;
}
@media screen and (max-width: 767px) {
  .news__text {
    padding: 1rem;
  }
}

.news__title {
  color: #222222;
  font-size: clamp(1.2rem, 1.0591549296rem + 0.3755868545vw, 1.6rem);
  line-height: 1.2;
}

.news__cta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4.3680297398%;
  font-size: clamp(1.2rem, 1.1295774648rem + 0.1877934272vw, 1.4rem);
  font-weight: bold;
  font-family: Viga, "Noto Sans JP", sans-serif;
}
@media screen and (max-width: 767px) {
  .news__cta {
    display: none;
  }
}

.news__arrow {
  vertical-align: middle;
  margin-left: 0.6rem;
}
/*# sourceMappingURL=front-page.css.map */