@use "base";
@use "mixin";
@use "module";
@use "setting";

body {
  background-color: setting.$bg-color;
}

.bold {
  font-weight: 700;
}

.sp-ms-break {
  display: none;
  @include mixin.mq(sp-ms) {
    display: block;
  }
}

.sp-break {
  display: none;
  @include mixin.mq(sp) {
    display: block;
  }
}

.tab-break {
  display: none;
  @include mixin.mq(tab) {
    display: block;
  }
}

.only-ipad-break {
  display: none;
  @include mixin.mq(ipad) {
    display: block;
  }

  @include mixin.mq(sp) {
    display: none;
  }
}

.only-tab-break {
  display: none;
  @include mixin.mq(tab) {
    display: block;
  }

  @include mixin.mq(sp) {
    display: none;
  }
}

.pc-and-tab-break {
  display: block;
  @include mixin.mq(sp) {
    display: none;
  }
}

.pc-break {
  display: block;
  @include mixin.mq(tab) {
    display: none;
  }
}

.sp-text-spacing {
  display: none;
  @include mixin.mq(sp) {
    display: block;
    margin-top: 1.8rem;
  }
}

.text-inline-blocked {
  display: inline-block;
}

.main__inner {
  margin-inline: auto;
}

.table-heading {
  vertical-align: middle;
}

.table-heading--vertical-top {
  margin-block: 0;
}
