@use "../mixin";
@use "../setting";

.button {
  font-size: 1.4rem;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.gnav__button {
  height: 4.2rem;
  width: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--black {
  background-color: setting.$txt-color;
  font-weight: 700;
}

.button--gold {
  background-color: setting.$accent-color-2;
  font-family: Viga, "Noto Sans JP", sans-serif;
}
