@use "../mixin";
@use "../setting";

.entry-cta {
  background-image: url(/tetote/ssi/entry-cta/cta-bg-img.jpg);
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}

.translucent-orange-gradation {
  background: linear-gradient(
    to bottom,
    rgba(#1bbb40, 0.9) 0%,
    rgba(setting.$accent-color-2, 0.9) 100%
  );
  height: auto;
  width: 100%;
}

.entry-cta__inner {
  max-width: mixin.$layout-width-inner;
  margin-inline: auto;
  padding-inline: 2rem;

  @include mixin.mq(tab) {
    padding-inline: 1.8rem;
  }

  @include mixin.mq(sp) {
    padding-inline: 1.6rem;
  }
}

.entry-cta__contents {
  text-align: center;
  color: #fff;

  padding-block: 8.4rem 6.6rem;
}

.entry-cta__heading {
  font-size: 4.2rem;
  margin-top: 2rem;
  line-height: 1.4;

  @include mixin.mq(tab) {
    font-size: 3.8rem;
  }

  @include mixin.mq(sp) {
    font-size: 3rem;
    line-height: 1.5;
  }

  @media only screen and (max-width: 382px) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: 359px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 327px) {
    font-size: 2.5rem;
  }
}

.entry-cta__text {
  margin-top: 2.1rem;
  line-height: 1.5;
  font-weight: 400;
}

.entry-cta__button {
  font-size: 1.8rem;
  color: #fff;
  width: 33rem;
  height: 8.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid #fff;
  border-radius: 4.2rem;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
  margin-top: 4.8rem;
  margin-inline: auto;
  position: relative;
  vertical-align: middle;

  @include mixin.mq(tab) {
    max-width: 70%;
  }

  @include mixin.mq(sp) {
    width: 80%;
    max-width: 28rem;
  }
}

.entry-cta__anchor-text {
  margin-top: -2px;
}

.entry-cta__button::after {
  content: url(/tetote/ssi/entry-cta/btn-more-icon.svg);
  position: absolute;
  top: 50%;
  right: calc(42 / 330 * 100%);
  transform: translate(calc(42 / 330 * 100%), -50%);

  @include mixin.mq(sp) {
    right: 9.5%;
    transform: translate(9.5%, -50%);
  }
}

.sp-pl-2rem {
  @include mixin.mq(sp) {
    display: inline-block;
    padding-left: 2rem;
  }

  @media only screen and (max-width: 382px) {
    padding-left: 1.6rem;
  }

  @media only screen and (max-width: 359px) {
    padding-left: 1.2rem;
  }
}

.sp-mt-16px {
  display: none;

  @include mixin.mq(sp) {
    display: block;
    margin-top: 1.6rem;
  }
}
