@use "../mixin";
@use "../setting";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: setting.$bg-sub-color; // FV画像設定するまでの間のみ適用
}

.sub-page-header {
  position: static;
  background-color: #fff;
}

.header__inner {
  margin: 0 auto;
  width: min(100%, mixin.$layout-width-inner);
  padding: 2.6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixin.mq(tab) {
    padding: 1.6rem 2rem;
  }
  @include mixin.mq(sp) {
    padding: 0.8rem 1.2rem;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  visibility: visible;
  width: 100%;
  animation: slideDown 0.3s ease-in-out;
  background-color: #fff;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.header__logo {
  @include mixin.mq(tab) {
    width: 20rem;
  }

  @include mixin.mq(sp) {
    width: 15.1rem;
  }
}

.gnav {
  @include mixin.mq(tab) {
    display: none;
  }
}

.gnav__list {
  display: flex;
  align-items: center;
}

.gnav__item {
  text-align: center;
  margin-right: 2.9rem;

  &:nth-of-type(4) {
    margin-right: 1.2rem;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.gnav__anchor {
  font-size: 1.3rem;
}

.top-page-header .gnav__anchor:not(.button) {
  color: #fff;
}

.burger-button {
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  z-index: 1000;
}

.burger-button__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
}

.burger-button__line {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  height: 0.2rem;
  transition: all 0.4s;
}

.burger-button__line:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}
.burger-button__line:nth-of-type(2) {
  top: 1.5rem;
  transform: translateY(-50%);
}
.burger-button__line:nth-of-type(3) {
  top: 3rem;
  transform: translateY(-50%);
}

.burger-button__label {
  display: inline-block;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #fff;
  transition: all 0.4s;
}

.burger-button.open .burger-button__line:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg);
}
.burger-button.open .burger-button__line:nth-of-type(2) {
  opacity: 0;
}
.burger-button.open .burger-button__line:nth-of-type(3) {
  top: 50%;
  transform: rotate(45deg);
}

.burger-button.open .burger-button__label {
  visibility: hidden;
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
  text-align: center;
}

.burger-menu.open {
  pointer-events: auto;
  opacity: 1;
}

.burger-menu__list {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.burger-menu__item {
  font-size: 1.3rem;
}

.burger-menu__anchor {
  display: inline-block;
}

.burger-menu .button {
  width: 20rem;
  line-height: 6.9rem;
  border-radius: 6rem;
}
