@use "../mixin";
@use "../setting";

.header{
  width: 100%;
}

.top-page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.sub-page-header {
  position: static;
  background-color: #fff;
}

.header__inner {
  margin: 0 auto;
  width: min(100%, mixin.$layout-width-inner);
  padding: 2.6rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixin.mq(tab) {
    padding: 1.6rem 2rem;
  }
  @include mixin.mq(sp) {
    padding: 0.8rem 1.2rem;
  }
}

.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 100;
  visibility: visible;
  width: 100%;
  animation: slideDown 0.3s ease-in-out;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, visibility 0.3s ease-in-out; // スクロール後、一番上に戻した際にヘッダー下部に白線がちらつくことの防止。
}

.header__inner.is-burger-open{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.header__logo {
  @include mixin.mq(tab) {
    width: 20rem;
  }

  @include mixin.mq(sp) {
    width: 15.1rem;
  }
}

.logo__img--black {
  display: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

.gnav__list {
  display: flex;
  align-items: center;
}

.gnav__item {
  text-align: center;
}

.gnav__item:first-of-type {
  margin-right: 2.2rem;
}

.gnav__item:nth-of-type(2) {
  margin-right: 4rem;
}

.gnav__button {
  @include mixin.mq(sp) {
    display: none;
  }
}

.burger-button {
  width: 5.2rem;
  height: 5.2rem;
  cursor: pointer;
  z-index: 1000;

  @include mixin.mq(tab) {
    width: 4rem;
  }

  @include mixin.mq(sp) {
    width: 3.2rem;
  }
}

.burger-button__icon {
  display: block;
  position: relative;
  width: 100%;
  height: 3rem;
}

.burger-button__line {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.2rem;
  transition: all 0.4s;
}

.burger-button__line--black {
  background: setting.$txt-color;
}

.burger-button__line--white {
  background: #fff;
}

.burger-button__line:nth-of-type(1) {
  top: 0;
  transform: translateY(-50%);
}
.burger-button__line:nth-of-type(2) {
  top: 1.5rem;
  transform: translateY(-50%);
}
.burger-button__line:nth-of-type(3) {
  top: 3rem;
  transform: translateY(-50%);
}

.burger-button__label {
  display: inline-block;
  font-family: Viga, "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  transition: all 0.4s;

  @include mixin.mq(tab) {
    margin-top: 0.8rem;
    font-size: 1.1rem;
  }

  @include mixin.mq(sp) {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.burger-button__label--black {
  color: setting.$txt-color;
}

.burger-button__label--white {
  color: #fff;
}

.burger-button.is-burger-open .burger-button__line:nth-of-type(1) {
  top: 50%;
  transform: rotate(-45deg);
}
.burger-button.is-burger-open .burger-button__line:nth-of-type(2) {
  opacity: 0;
}
.burger-button.is-burger-open .burger-button__line:nth-of-type(3) {
  top: 50%;
  transform: rotate(45deg);
}

.burger-button.is-burger-open .burger-button__label {
  visibility: hidden;
}

.burger-menu {
  width: 100svw;
  height: 100svh;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition:all 0.4s linear;
}

.burger-menu.is-burger-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.burger-menu__inner {
  position: absolute;
  top: 50%;
  left: calc(406 / 1440 * 100% - 1.2rem);
  transform: translateY(-50%);
  width: min(calc(90.3rem + 2.4rem), 100%);
  padding-inline: 1.2rem;
  display: flex;
  flex-wrap: wrap;
}

.burger-menu__logo-list{
  display: flex;
  align-items: center;
  padding-right: 6.3rem;
  border-right: 0.05rem solid setting.$accent-color-2;
}

.burger-menu__item-list{
  margin-left: 6.3rem;
  width: min(52.6rem, 100%);
}

.burger-menu__anchor {
  display: inline-block;
}

.burger-menu__logo {
  display: block;
}

.burger-menu__text-item-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 3rem;
  width: 100%;
}

.burger-menu__text-item {
  text-align: left;
  padding-block: 2.3rem;
  border-top: 0.1rem solid setting.$accent-color-2;
  width: calc((100% - 3rem) / 2);
}

.burger-menu__text-item:nth-of-type(3), .burger-menu__text-item:last-child{
  border-bottom: 0.1rem solid setting.$accent-color-2;
}

.burger-menu__title{
  font-size: 3.2rem;
  font-family: Viga, "Noto Sans JP", sans-serif;
  line-height: 1;
}
.burger-menu__sub-title{
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 1.1rem;
}

.burger-menu__button-item-wrapper{
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.burger-menu__button{
  width: 24.8rem;
  height: 4.2rem;
  display:flex;
  justify-content: center;
  align-items: center;
}